body {
    background-image: url(img/white-abstract-background_23-2148810113.png);
}
.logo img{
    width: 200px;
}

.Introduction{
    margin:50px;
    padding: 50px;
    font-size: 1.5em;
    font-family: 'Times New Roman';
    text-align: left;
    border: 1px solid;
    border-radius: 3em;
    background-color:rgb(134, 147, 160)
}

#search{
    float: right;
}
h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.footer{
    text-align: center;
    border-top: 1px solid ;
    margin-top: 100px;
    font-family: 'Roboto Mono', monospace;
}
.far, .fab, h3 {
    color: #4fbbe4;
}
@media only screen and (max-width:768px) {
    .Introduction {width: 100%;}
}
@media only screen and (max-width:1078px) {
    .Introduction {width: 80%;}
}
