body{margin-left: 20px;
    background-image: url(white-abstract-background_23-2148810113.jpeg);
    background-size: 140%;}
label{font: bold;
    float: left;
    margin-left: 20px;
    color: white;}
input{display: block;
    margin-left: 200px;
    margin-bottom: 10px;}
footer{text-align:center;
        color: #4fbbe4;}
