body{margin-left: 20px;
    background-image: url(white-abstract-background_23-2148810113.jpeg);
    background-size: 100%;}
input{display: block;}
footer{text-align:center;
        color: #4fbbe4;}
