body {
    background-image: url(img/white-abstract-background_23-2148810113.png);
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}
h1:hover{
    transform: scale(1.1);
}
h2 {
    text-align: center;
    color:#4fbbe4;}
.head img{
    width: 100;
    height: 90px;
}
div.category {
    display: inline-block;
    border: 2px solid;
    margin: 20px;
    padding:20px;
    transition: 0.5s;
    background-color:rgb(134, 147, 160);
}
div.category:hover{
    transform: scale(1.1);
}

div.category img {
    width: 200;
    height: 130px;
}
#search {
    float: right;
    width: 200;
}
@media only screen and (max-width:768px) {
    .category img {width: 100%;}
    h1 {width: 90%;}
}
@media only screen and (max-width:1078px) {
    .category img {width: auto;}
    h1 {width: auto;}
}
