
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1:hover{
    transform: scale(1.1);
}
.head img{
    width: 180px;
}
div.category {
    float: left;
    border: 2px solid;
    margin: 20px;
    padding:20px;
    transition: 0.5s;
}
div.category:hover{
    transform: scale(1.1);
}

div.category img {
    width: 200;
    height: 130px;
}

#search {
    float: right;
    width: 200;
}



