h1{font-size: 26px;font-family: 'Courier New', Courier, monospace;}
        footer{color: #4fbbe4;}
        p{color: grey;font-size: 14px;font-family: 'Times New Roman';}
        h2{font-size: medium;font-family: Impact,'Arial Narrow Bold', sans-serif;}
        nav a {text-decoration: none;}
        a:link{color: #4fbbe4;}
        a:visited{color:#4fbbe4;}
        a:focus{color: #4fbbe4;}
        a:hover{color: #4fbbe4;}
        a:active{color: #4fbbe4;}
        footer{text-align: center;}
        span{color: #4fbbe4;}
        body img{border: 5px;}
        body{background-image: url(white-abstract-background_23-2148810113.jpeg);}
        button{background-color: #b3d9ff;} 
        button:hover{background-color: #80bfff;}
    color: white;}
    @media only screen and (max-width:1078px) and (min-width:481px){
        table{width: 120%;}
            #a{display: none;}
            .arrow{display: none;}
            figure{display: inline-block;
                text-align: center;}
    }
    @media only screen and ( max-width: 768px)and (min-width:375px){
            table{width: 100%;}
            #a{display: none;}
            .arrow{display: none;}
            figure{display: block;
                text-align: center;}
        }    
    