.troleys{float: right;}
input, img{vertical-align:middle;}
header {margin-left: 30px;}
.search{padding-left: 50%;
        }
h1 div{display: inline;}
.mouse{color: #4fbbe4;}
figure {display: inline-block;
        text-align: center;
        margin-top: 10px;}
p{font-size: 14px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;}
figure img{border: 1px solid;
        box-sizing: border-box;
        padding: 10px;}
.a{font-size: 16px;
font-family: Impact;
text-align: center;
text-decoration:underline ;}
footer{text-align: center;
        color: #4fbbe4;}
body{background-image:url(white\ background.jpeg);
        background-size: 100%;}
input{background-color: #b3d9ff;} 
input:hover{background-color: #80bfff;}
footer p,h3{text-align: center;}
@media only screen and ( max-width: 768px)and (min-width:375px){
        figure{display: block;}
        figcaption{text-align: center;}
        #search{display:none;}
}
@media only screen and (max-width:1078px) and (min-width:481px){
            figure{display: inline-block;
                text-align: center;} 
}
        
