table{margin:auto;
    margin-top: 10px;
   border-collapse: collapse;
    margin-bottom: -10px;
    width: 110%;
    margin-left: -10px;}
td{border: 1px solid;
    padding: 20px;
    text-align: center;}
#b5{text-align: center;}
#troley{float: right;
        margin-top: 20px;}
figure img{border: 1px solid;
            box-sizing:border-box;
            padding: 10px;}
.arrow{border-color: rgba(0,0,0,0);}
figure{display: inline-block;
        margin-top: 20px;}
figcaption{font-size: 13px;
            text-align: center;
            color: #4fbbe4;}
footer{text-align: center;
        color: #4fbbe4;}
input,td img{vertical-align:middle;}
