*{
    margin: 0;
    padding: 0;
}

nav{
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style: none;
}      

nav ul li{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    width: 120px; 
    text-transform: uppercase;
}

a{
    text-decoration: none;
    
} 
