body {
    background-image: url("img/white-abstract-background_23-2148810113.jpeg");
   }

#search {
    float: right;
}

input, img {
    vertical-align:middle;
}


input {
    background-color: #b3d9ff;
}

input:hover{
    background-color: #80bfff;
}

header {
    margin-left: 40px;
}

main {
    text-align: center;
}

h1 div {
    display: inline;
   
}

#Categories {
    color:rgb(0, 0, 0);
}

#Tablet {
    color: #4fbbe4;
}

figure {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 16px;
    text-align: center;
    color:rgb(0, 0, 0);
}

figure img {
    border: 1px solid;
    box-sizing: border-box;
    padding: 10px;
}

#a {
    font-size: 16px;
    font-family: Impact;
    text-align: center;
}

.footer {
    text-align: center;
    color: #4fbbe4;
}

@media only screen and (max-width:1078px) and (min-width:481px){
        table{width: 120%;}
            #a{display: none;}
            .arrow{display: none;}
            figure{display: inline-block;
                text-align: center;}
    }
@media only screen and ( max-width: 768px)and (min-width:375px){
            table{width: 100%;}
            #a{display: none;}
            .arrow{display: none;}
            figure{display: block;
                text-align: center;}
        }




